@font-face {
  font-family: 'ArmaliteRifle';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/armalite_rifle.ttf');
}

.App {
  text-align: center;
}

.App-header {
  color: #829074;
  padding-bottom: 20px;
}

.App-title {
  font-size: 50px;
  font-family: ArmaliteRifle;
}

.App-intro {
  font-size: large;
}

#logo {
  width: 200px;
  height: 200px;
}

#footer {
  height: 80px;
  width: 100%;
  background-color: lightblue;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}